{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'trable/css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>
    <style>
        body {
            background-image: url("{% static 'trable/img/zxc.gif' %}");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="main">
        <p class="sign" align="center">로그인</p>
        <form class="form1">
            <input class="un" type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">
            <a class="submit" align="center">Sign in</a>
            <p class="forgot" align="center"><a href="/trable/signup/">회원가입</a></p>
        </form>
    </div>
</body>
</html>
